@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
	}
	50% {
		box-shadow: 0 0 16px #fff, inset 0 0 14px #fff;
	}
	100% {
		box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
	}
}

.glow {
	background-color: transparent;
	border-radius: 100%;
	box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
	-webkit-animation: pulse 2s linear 1s infinite;
}
